<header class="post-heading">
	<h1>
		<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title}}</a>
	</h1>
	<div class="post-metadata">
	    <time datetime="{{ article.date.isoformat() }}" pubdate>
	        {{ article.locale_date }}
	    </time>

	    {% if article.author %}
	    <address class="vcard author">
	        by <a href="{{ SITEURL }}/author/{{ article.author }}.html">{{ article.author }}</a>
	    </address>
	    {% endif %}

		<p class="post-category"> in <a href="{{ SITEURL }}/category/{{ article.category }}.html">{{ article.category }}</a></p>

		{% include 'taglist.html' %}
	</div>
</header>
