<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
    <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
    {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    <!-- HTML5 shim. IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

{# This is the main structural scaffold for the blog. 
    Other templates are pulled into this one for layout. #}
<body>
    <nav id="main-nav" class="navbar navbar-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ SITEURL }}/index.html">The London Python Dojo</a>
                <ul class="nav">
                {% for p in PAGES %}
                    <li>
                        <a href="{{ SITEURL }}/pages/{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <div id="main" class="container">

        <div class="row">
            {# Placeholder for article content #}
            <div id="content" class="span9">
            {% block content %}
            {% endblock %}  
            </div>

            {# sidebar content #}
            <div id="sidebar" class="span3">
                <img class="underground-logo" src="{{ SITEURL }}/theme/img/Logo-small.png" />
                <nav id="secondary-nav">
                    <h3>Site</h3>
                    <ul>
                        <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
                        <li><a href="{{ SITEURL }}/{{ FEED }}" rel="alternate">Atom Feed</a></li>
                        {% if FEED_RSS %}
                        <li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">RSS Feed</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <nav id="category-nav">
                    <h3>Categories</h3>
                    <ul>
                    {% for cat, null in categories %}
                        <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/category/{{ cat }}.html">{{ cat }}</a></li>
                    {% endfor %}
                    </ul>
                </nav>
                {% if LINKS %}
                <div id="external-links">
                    <h3>Links</h3>
                    <ul>
                    {% for name, link in LINKS %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                <img class="python-logo" src="http://www.python.org/community/logos/python-logo-master-v3-TM-flattened.png" />
                {% endif %}
            </div><!-- ./#sidebar -->
        </div>
    </div><!-- ./#main -->

    <footer id="site-footer" class="container">
        <hr />
        <div class="row">
            <p class="span4">Creative Commons or something?</p>
            <p class="span4 offset4">Blog powered by <a href="http://pelican.notmyidea.org/en/2.8/index.html">Pelican</a> and <a href="http://www.python.org/">Python</a></p>
        </div>
    </footer>

    {# TODO decide on analytics and comments #}
    {% include 'analytics.html' %}
    {% include 'piwik.html' %}
    {% include 'disqus_script.html' %}
</body>
</html>
