/* 
	Static Page styles. Site content in "pages" directory.
*/
.page-content h1 {
	padding: 0 0 30px 0;
}

/*
	Organisers
*/
.portrait {
	float: left;
	margin: 0 20px 0 0;
	border: solid 5px;
}

.bio {
	min-height: 200px;
	margin: 10px 0;
	clear: both;
}

/*
	Sponsors
*/
.sponsor {
	min-height: 150px;
	margin: 10px 0;
	clear: both;
}

.sponsor-logo {
	float: left;
	width: 100px;
	margin: 0 20px 0 0;
}

/*
	Blog post styles. Main editorial blog content.
*/
.main-post img {
	padding: 5px;
}

.centered-content {
	text-align: center;
}

.post-heading address{
	display: inline;
}

.post-metadata {
	padding: 5px;
	font-style: italic;
	color: gray;
}

.post-category {
	display: inline;
}

.post-tags {
	list-style: none;
	display: inline;
	margin: 0;
}

.post-tags li {
	display: inline;
}

/* 
	Index page. Main landing page with featured and other content.
*/
#featured-post {
	margin-bottom: 30px;
}

#posts-list {
	list-style: none;
	margin: 0;
}

#posts-list li {
	margin: 0 0 30px 0;
}


/* Site footer */
#site-footer {
  padding: 15px 0;
}
